
.footer {
    background-color: #291F1F;
    padding-top: 60px;
    padding-bottom: 60px;
    h3 {
        font-family: 'Amita', sans-serif;
        font-weight: 400;
        font-size: 25px;
        margin: 0px 0px 10px 0px;
        color: #FFFFFF;
    }
    h4 {
        font-family: 'Amita', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        margin: 10px 0px 0px 0px;
    }
    &__logo {
        width: 120px !important;
    }
    &__links {
        margin-bottom: 0;
        li {
            font-family: 'DM Sans', sans-serif;
            line-height: 1.8;
            a {
                color: #FFFFFF;
                text-decoration: none;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: #808080;
                }
                &:focus-visible {
                    outline-style: none;
                }
                &::before {
                    content: "\F138";
                    font-family: "bootstrap-icons";
                    font-size: 11px;
                    font-weight: 700;
                    margin-right: 10px;
                    color: #B3ADAD;               
                }
            }
        }
    }
    &__contact {
        font-size: 14px;
        font-family: 'DM Sans', sans-serif;
        color: #FFFFFF;
        line-height: 1.8;
        i {
            color: #B3ADAD;
            font-size: 15px;
            margin-right: 10px;
        }
        a {
            color: #FFFFFF;
            text-decoration: none;
            &:hover,
            &:focus {
                color: #808080;
            }
            &:focus-visible {
                outline-style: none;
            }            
        }
    }
}

.footer__bottom {
    background-color: #000000;
    padding: 20px 0px;
    h2 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;   
        font-size: 16px;             
        color: #808080;
        margin: 0;
    }
    a {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;        
        color: #FFFFFF;
        text-decoration: none;
        &:hover,
        &:focus {
            color: #FFFFFF;
            text-decoration: underline;
        }
        &:focus-visible {
            outline-style: none;
        }
    }
}