
.newsletter {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #008000;
    h2 {
        font-family: 'Amita', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }
    input {
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        border-radius: 0px;
    }
    .input-group-text {
        border-radius: 0px;
    }
    .btn {
        border-radius: 0px;
        width: 100%;
        background-color: #0F9D0F;
        border: 1px solid #1EBD1E;        

        &:hover,
        &:active {
            background-color: #1EBD1E;
            border: 1px solid #1EBD1E;
        }
    }
    .form-control:focus {
        border: 1px solid #CED4DA;
        box-shadow: none;
    }    
}